
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Diabetes Test</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Slot Coming Soon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="static\css\style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="static\css\font-awesome.min.css" type="text/css" media="all">

</head>

<body>
<form action="http://127.0.0.1:5000/uploader" method="POST" enctype="multipart/form-data">
        <div id="block" class="w3lvide-content" data-vide-bg="static\images\slot.mp4" data-vide-options="position: 0% 50%">
        <h1 style="margin:auto; color: #fff; margin-bottom: 25px; margin-top:10 px">Diabetes Test</h1>
        <div class="wrapper">
            <div class="workinghny-form-grid">
                <!-- /form -->
                <div class="main-container">
                    <div class="content-wthree">
        <h2 style="color:#fff">Enter the values</h2>
        <span class="left">
            <div>
                <div>
                    <label>Pregnancies: </label>
                    <input type='text' id="Pregnancies" name="Pregnancies" />
                </div>
                <div>
                    <label>Glucose: </label>
                    <input type='text' id="Glucose" name="Glucose" />
                </div>
            </div>
        
            <div>
                <div>
                    <label>Blood Pressure: </label>
                    <input type='text' id="BloodPressure" name="BloodPressure" />
                </div>
                <div>
                    <label>Skin Thickness: </label>
                    <input type='text' id="SkinThickness" name="SkinThickness" />
                </div>
            </div>
        </span>
        <span class="right">
            <div>
                <div>
                    <label>Insulin: </label>
                    <input type='text' id="Insulin" name="Insulin" />
                </div>
                <div>
                    <label>BMI: </label>
                    <input type='text' id="BMI" name="BMI" />
                </div>
            </div>
        
            <div>
                <div>
                    <label>Diabetes Pedigree Function: </label>
                    <input type='text' id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" />
                </div>
                <div>
                    <label>Age: </label>
                    <input type='text' id="Age" name="Age" />
                </div>
            </div>
        </span>
        <button type="submit">Submit & predict</button>
        <div class="social-login">
            <a href="https://www.facebook.com/sam.goda.71/">
                <span class="fa fa-facebook icon" aria-hidden="true"></span>
                
                
                </a>
                <a href="#twiter">
                <span class="fa fa-twitter icon" aria-hidden="true"></span>
                
                </a>
                <a href="#google">
                <span class="fa fa-google-plus icon" aria-hidden="true"></span>
                
                </a>
                
                <a href="#insta">
                <span class="fa fa-pinterest icon" aria-hidden="true"></span>
                </a>
                </div>
                </div>
                
                </div>
                <!-- //form -->
                </div>
    <!-- copyright -->
    <div class="copyright text-center">
        <p class="copy-footer-29">© 2022. All rights reserved <a href="https://www.facebook.com/sam.goda.71/">Mahmoud
                Gooda</a></p>
        </div>
        <!-- //copyright -->
        </div>
        </div>
    </form>
    <!-- //form section start -->
    <!-- js -->
    <script src="static\js\jquery.min.js"></script>
    <!-- //js -->
    <script src="static\js\jquery.vide.js"></script>
</body>

</html>